.mdc-timepicker {
    display: inline-block;
}

.mdc-timepicker__input {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdc-timepicker--hidden {
    display: none;
}

.mdc-timepicker--deselected {
    color: var(--mdc-theme-primary-light, #a4addf);
}

.mdc-timepicker__surface {
    display: grid !important;
    grid-template-areas: "head main" "head foot";
    grid-template-columns: 200px 1fr;
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
    width: fit-content !important;
    min-width: fit-content !important;
}

.mdc-timepicker__header {
    grid-area: head;
    background-color: var(--mdc-theme-primary, #3f51b5);
}

.mdc-timepicker__header-text {
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker__header-time {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.mdc-timepicker__header-period {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: pointer;
}

.mdc-timepicker__body {
    grid-area: main;
    font-weight: 500;
}

.mdc-timepicker__footer {
    grid-area: foot;
}

.mdc-timepicker-circular__surface {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #eee;
}

.mdc-timepicker__view-circular {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mdc-timepicker__view-circular__inner {
    position: absolute;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    top: 40px;
    left: 40px;
}

.mdc-timepicker__view-needle-dragger {
    position: absolute;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    cursor: grab;
}

.mdc-timepicker__view-needle-dragger:active {
    cursor: grabbing;
}

.mdc-timepicker__view-needle {
    position: absolute;
    left: 50%;
    top: calc(50% - 18px);
    width: 50%;
    font-size: 0;
    transform-origin: left center;
    transition: .3s cubic-bezier(.42, 0, .58, 1);
}

.mdc-timepicker__view-needle.mdc-timepicker__view-needle__pm {
    width: calc(50% - 42px);
}

.mdc-timepicker__view-needle__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.mdc-timepicker__view-needle__line {
    width: calc(100% - 52px);
    height: 2px;
}

.mdc-timepicker__view-needle__circle {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.mdc-timepicker__view-needle span {
    display: inline-block;
    background-color: var(--mdc-theme-primary, #3f51b5);
    vertical-align: middle;
}

.mdc-timepicker__view-circular__cell {
    position: absolute;
    width: calc(50% - 8px);
    top: calc(50% - 18px);
    left: 50%;
    text-align: right;
    transform-origin: left center;
}

.mdc-timepicker__view-circular__cell span {
    display: inline-block;
    cursor: pointer;
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.54));
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0px;
}

.mdc-timepicker-circular--rotate-to-59.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-0§>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-59:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-0>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-0.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-0>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-0:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-0>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-1.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-0>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-1:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-0>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-4.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-5>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-4:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-5>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-5.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-5>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-5:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-5>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-6.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-5>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-6:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-5>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-9.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-10>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-9:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-10>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-10.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-10>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-10:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-10>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-11.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-10>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-11:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-10>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-14.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-15>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-14:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-15>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-15.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-15>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-15:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-15>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-16.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-15>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-16:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-15>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-19.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-20>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-19:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-20>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-20.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-20>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-20:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-20>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-21.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-20>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-21:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-20>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-24.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-25>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-24:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-25>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-25.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-25>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-25:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-25>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-26.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-25>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-26:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-25>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-29.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-30>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-29:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-30>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-30.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-30>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-30:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-30>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-31.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-30>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-31:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-30>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-34.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-35>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-34:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-35>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-35.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-35>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-35:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-35>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-36.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-35>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-36:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-35>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-39.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-40>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-39:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-40>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-40.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-40>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-40:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-40>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-41.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-40>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-41:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-40>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-44.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-45>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-44:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-45>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-45.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-45>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-45:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-45>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-46.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-45>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-46:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-45>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-49.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-50>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-49:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-50>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-50.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-50>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-50:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-50>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-51.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-50>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-51:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-50>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-54.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-55>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-54:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-55>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-55.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-55>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-55:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-55>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-56.mdc-timepicker__view-needle__pm>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__inner>.mdc-timepicker__view-circular__cell--rotate-to-55>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker-circular--rotate-to-56:not(.mdc-timepicker__view-needle__pm)>.mdc-timepicker__view-circular>.mdc-timepicker__view-circular__cell--rotate-to-55>span {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.mdc-timepicker__view-circular__cell--rotate-to-0 {
    transform: rotate(270deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-0>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-270deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-1 {
    transform: rotate(276deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-1>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-276deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-2 {
    transform: rotate(282deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-2>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-282deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-3 {
    transform: rotate(288deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-3>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-288deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-4 {
    transform: rotate(294deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-4>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-294deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-5 {
    transform: rotate(300deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-5>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-300deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-6 {
    transform: rotate(306deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-6>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-306deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-7 {
    transform: rotate(312deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-7>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-312deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-8 {
    transform: rotate(318deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-8>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-318deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-9 {
    transform: rotate(324deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-9>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-324deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-10 {
    transform: rotate(330deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-10>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-330deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-11 {
    transform: rotate(336deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-11>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-336deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-12 {
    transform: rotate(342deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-12>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-342deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-13 {
    transform: rotate(348deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-13>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-348deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-14 {
    transform: rotate(354deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-14>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-354deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-15 {
    transform: rotate(0deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-15>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-0deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-16 {
    transform: rotate(6deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-16>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-6deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-17 {
    transform: rotate(12deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-17>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-12deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-18 {
    transform: rotate(18deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-18>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-18deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-19 {
    transform: rotate(24deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-19>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-24deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-20 {
    transform: rotate(30deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-20>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-30deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-21 {
    transform: rotate(36deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-21>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-36deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-22 {
    transform: rotate(42deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-22>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-42deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-23 {
    transform: rotate(48deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-23>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-48deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-24 {
    transform: rotate(54deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-24>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-54deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-25 {
    transform: rotate(60deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-25>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-60deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-26 {
    transform: rotate(66deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-26>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-66deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-27 {
    transform: rotate(72deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-27>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-72deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-28 {
    transform: rotate(78deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-28>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-78deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-29 {
    transform: rotate(84deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-29>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-84deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-30 {
    transform: rotate(90deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-30>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-90deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-31 {
    transform: rotate(96deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-31>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-96deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-32 {
    transform: rotate(102deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-32>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-102deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-33 {
    transform: rotate(108deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-33>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-108deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-34 {
    transform: rotate(114deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-34>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-114deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-35 {
    transform: rotate(120deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-35>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-120deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-36 {
    transform: rotate(126deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-36>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-126deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-37 {
    transform: rotate(132deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-37>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-132deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-38 {
    transform: rotate(138deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-38>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-138deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-39 {
    transform: rotate(144deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-39>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-144deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-40 {
    transform: rotate(150deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-40>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-150deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-41 {
    transform: rotate(156deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-41>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-156deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-42 {
    transform: rotate(162deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-42>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-162deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-43 {
    transform: rotate(168deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-43>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-168deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-44 {
    transform: rotate(174deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-44>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-174deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-45 {
    transform: rotate(180deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-45>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-180deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-46 {
    transform: rotate(186deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-46>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-186deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-47 {
    transform: rotate(192deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-47>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-192deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-48 {
    transform: rotate(198deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-48>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-198deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-49 {
    transform: rotate(204deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-49>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-204deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-50 {
    transform: rotate(210deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-50>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-210deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-51 {
    transform: rotate(216deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-51>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-216deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-52 {
    transform: rotate(222deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-52>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-222deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-53 {
    transform: rotate(228deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-53>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-228deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-54 {
    transform: rotate(234deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-54>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-234deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-55 {
    transform: rotate(240deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-55>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-240deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-56 {
    transform: rotate(246deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-56>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-246deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-57 {
    transform: rotate(252deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-57>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-252deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-58 {
    transform: rotate(258deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-58>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-258deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-59 {
    transform: rotate(264deg);
}

.mdc-timepicker__view-circular__cell--rotate-to-59>span:not(.mdc-timepicker__view-needle__line) {
    transform: rotate(-264deg);
}

/* phone */

@media (max-width: 479px) {
    .mdc-timepicker__surface {
        display: grid !important;
        grid-template-areas: "mobilehead" "mobilemain" "mobilefoot";
        grid-template-columns: 1fr;
        grid-template-rows: 110px 1fr 50px;
        /* width: auto !important;
        min-width: auto !important;
        max-width: auto !important;
        width: fit-content !important;
        min-width: fit-content !important; */
    }

    .mdc-timepicker__header {
        grid-area: mobilehead;
        grid-row: 1 / span 1;
    }

    .mdc-timepicker__body {
        grid-area: mobilemain;
    }

    .mdc-timepicker__footer {
        grid-area: mobilefoot;
    }

    .mdc-timepicker__header-period {
        margin-left: 1rem;
    }
    .mdc-timepicker__header-text {
        flex-flow: row;
    }
}
