.mdc-datepicker {
    display: inline-block;
}

.mdc-datepicker__input {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mdc-datapicker-typography--black {
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87)) !important;
}

.mdc-datepicker__surface {
    display: grid !important;
    grid-template-areas: "head main" "head foot";
    grid-template-columns: 200px 1fr;
    width: auto !important;
    /*min-width: auto !important;*/
    /*max-width: auto !important;*/
    width: fit-content !important;
}

.mdc-datepicker__header {
    grid-area: head;
    background-color: var(--mdc-theme-primary, #3f51b5);
    display: inline-flex;
    align-items: flex-start;
    color: var(--mdc-theme-on-primary, #ffffff);
}

.mdc-datepicker__header--text {
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
    align-self: flex-start;
    align-items: start;
    display: flex;
    flex-flow: column;
}

.mdc-datapicker-weekend {
    background-color: var(--mdc-theme-primary-light, #a4addf);
}

.mdc-datepicker__body {
    grid-area: main;
    padding: 0 !important;
}

.mdc-datepicker__footer {
    grid-area: foot;
}

.mdc-datepicker__body--header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center
}

.mdc-typography--title {
    flex: 1;
    text-align: center;
}

.mdc-datepicker__body-content {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.mdc-datapicker-carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 310px;
}

.mdc-datapicker-carousel button {
    color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
    background-color: var(--mdc-theme-background, #ffffff);
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: 16px;
}

.mdc-datapicker-carousel button:last-child {
    margin-left: auto;
    margin-right: 16px;
}

.mdc-datapicker-carousel button:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mdc-datapicker-carousel button:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mdc-datapicker-carousel__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.mdc-datapicker-carousel__track .mdc-datapicker-carousel__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease 0s;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.mdc-datepicker__body--header {
    height: 50px;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 100%;
}

.mdc-datepicker__body-content {
    align-self: flex-start;
    width: 100%;
}

.mdc-datepicker__body-content span {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
}

.mdc-datepicker-date__selected {
    background-color: var(--mdc-theme-primary, #3f51b5);
    color: var(--mdc-theme-text-primary-on-primary, #ffffff);
}

.previous {
    transform: translateX(-100%);
}

.current {
    transform: translateX(0%);
}

.next {
    transform: translateX(100%);
}

.hidden {
    opacity: 0;
}

.mdc-datapicker-carousel__slide {
    height: 100%;
    position: absolute;
    overflow-y: auto;
}

/* tablet */
@media (max-width: 640px) {
    .mdc-datepicker__surface {
        min-width: 580px !important;
    }
}

/* phone */
@media (max-width: 599px) {
    .mdc-datepicker__surface {
        min-width: 280px !important;
        display: grid !important;
        grid-template-areas: "mobilehead" "mobilemain" "mobilefoot";
        grid-template-columns: 1fr;
        grid-template-rows: 110px 1fr 50px;
        width: fit-content !important;
    }
    .mdc-datapicker-carousel {
        height: 316px;
    }
    .mdc-datepicker__header {
        grid-area: mobilehead;
        grid-row: 1 / span 1;
    }
    .mdc-datepicker__body {
        grid-area: mobilemain;
    }
    .mdc-datepicker__footer {
        grid-area: mobilefoot;
    }
    .mdc-datepicker__header--text {
        flex-flow: row;
        flex-wrap: wrap;
    }
    .mdc-datepicker__header--text :first-child {
        flex-basis: 100%;
    }
}



@keyframes carousel-show-slide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
